<div id="wrapper">
	<div id="column-left">
		What is this website?
	</div>

	<div id="column-right">
		<p>One day, I read <a href="http://www.women2.com/why-women-dont-code/" title="http://www.women2.com/why-women-dont-code/">this article</a> and started thinking about my own experiences with learning to code. I tweeted the following:</p>

		<blockquote><div>&ldquo;</div>What are your thoughts on high "getting started" costs as a barrier to learning programming? Especially for those trying to self-teach.</blockquote>

		<p>While I had been thinking of specific problems I'd personally faced, the diversity of the responses really surprised me. I realized that there were a lot of problems people were running into that weren't getting talked about, and that there were lots of eager beginners who were giving up because they had been told that their problems weren't worth acknowledging.</p>

		<p>So, I made this app. The goal is to create a place where people can share the challenges they've run into, so that everyone can see what problems what people are having. My hope is that by sharing our experiences, all of us will become more aware of the barriers that beginners face and what we can do to remove them.</p>

		<p>&ndash; <a href="http://twitter.com/nkkl" title="http://twitter.com/nkkl">@nkkl</a></p>
	</div>
</div>