<div id="wrapper">
	<div id="column-left">
		Questions go here
	</div>	
	
	<div id="column-right">	
		<%= form_for @post, :url => { :action => "create" } do |f| %>
			<% @post.errors.full_messages.each do |msg| %>
		      <p><%= msg %></p>
		    <% end %>
			<%= f.text_area :body %>
			<%= f.submit "submit" %>
		<% end %>
	</div>
</div>