// CSS reset
* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

// Normal desktop view
#header {
	background: #333;
	color: white;

	div {
		max-width: 960px;
		margin: auto;
	}

	a {
		display: inline-block;
		padding: 5px 20px;
		color: #CCC;
		text-decoration: none;
		margin-right: -4px;

		&:active, &:hover {
			background: black;
			color: white;
		}
	}
}

#wrapper {
	max-width: 960px;
	margin: 2em auto;

	a {
		color: dodgerBlue;
		text-decoration: none;
	}

	a:hover, a:active {
		color: blue;
	}

	#column-left {
		float: left;
		max-width: 260px;
		font-size: 2em;
		line-height: 1em;
		// text-align: right;
	}

	#column-right {
		float: left;
		max-width: 700px;
		margin-left: 0px;
		position: relative;
		text-align: center;

		* {
			text-align: left;
		}

		p:first-child {
			margin: 0 60px 1em 60px;
		}

		p {
			margin: 1em 60px;
		}

		.post {
			margin-bottom: 2em;
			clear: both;
			overflow: hidden;
		}

		.post-date {
			float: left;
			margin-left: 60px;
			color: #aaa;
		}

		.post-actions {
			float: right;
			margin-top: -0.5em;
			position: relative;
			top: 5px;

			.flag {
				font-size: 0.75em;
				display: inline-block;
				height: 16px;
				padding: 2px 5px;
				border-radius: 5px;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				position: absolute;
				top: 0;
				right: 100%;
				margin-right: 5px;
				background: #aaa;
				color: white;
				cursor: pointer;
			}

			.flag:hover {
				background: #A00000;
			}

			.clicked {
				background: #BA1919;
			}
		}

		textarea {
			width: 30em;
			margin: 1em 30px 0 30px;
		}

		input {
			display: block;
			position: absolute;
			right: 30px;
		}

		blockquote {
			margin: 0 60px 0 80px;
			font-style: italic;
			position: relative;

			> div {
				display: inline-block;
				font-size: 3em;
				position: absolute;
				top: -0.15em;
				left: -25px;
			}
		}

		.button {
			display: inline-block;
			color: white;
			background: #333;
			font-size: 1em;
			padding: .5em 1em;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}

		.button:hover {
			background: black;
		}
	}
}

// Tablet view
@media screen and (max-width: 800px) {}

// Phone view
@media screen and (max-width: 479px) {}